* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.title {
  position: absolute;
  bottom: 30%;
  padding: 2rem;
  background: rgb(60, 155, 192);
  color: white;
  text-align: center;
}

#video{
  border: 25px solid rgb(0, 0, 0)
}

#debug {
  position: absolute;
  z-index: 10;
}

canvas {
  position: absolute;
}

#warning {
  position: absolute;
  bottom: 0;
  padding: 2rem;
  background: red;
  width: 100%;
  color: white;
  text-align: center;
}

#warning.hidden {
  display: none;
}